html {
    overflow-y: scroll;

    font-size: 18px;
    font-family: 'Alata', sans-serif;
}

body {
    margin: 8px auto;
    background-image: url("../data/img/light.jpg");
    background-size: cover;
    background-color: #b3cce6;
    width: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

img {
    display: block;
    margin: 0 auto;
    float: left;
}

.center {
    margin: auto;
    width: 50%;
    padding: 50px;
    text-align: center
  }

.wrap{
  max-width: 350px;
  border-radius: 20px;
  margin: auto;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  padding: 40px;
  color: #fff;
  margin-top: 100px;
}
.h2{
  text-align: center;
}

h1{

  text-align: center;
  color: black;
  }
input[type=text] {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 5px;
  background: rgba(0, 0, 0, 10);
  outline: none;
  border: none;
  border-bottom: 1px dotted #fff;
  color: #fff;
  border-radius: 5px;
  margin: 5px;
  font-weight: bold;
}
textarea[type=text] {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 5px;
  background: rgba(0, 0, 0, 10);
  outline: none;
  border: none;
  border-bottom: 1px dotted #fff;
  color: #fff;
  border-radius: 5px;
  margin: 5px;
  font-weight: bold;
}
input[type=submit] {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 30px;
  outline: none;
  border: none;
  background: #60adde;
  opacity: 0.7;
  color: #fff;
  border-radius: 20px;
  font-size: 20px;
}

input[type=submit]:hover{
  background: #003366;
  opacity: 0.7;
}
ul{
  border: 1px solid gray;
  padding: 1.5rem 1rem;
  max-width: 20rem;
  list-style: inside;
}
ul:empty::after{
  content: attr(data-empty-message);
}
