<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ComponentHub Home</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">
    <style>
      html,
      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: 'Alata', sans-serif;
      }
    </style>
  </head>

  <div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
        href="javascript:void(0);" onclick="openNav()"><i class="material-icons">dehaze</i></a>
      <a href="/home" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="material-icons"
          style="font-size:36px;color: antiquewhite">home</i></a><a href="/home"><img src="data/img/TreasureHunt.png"></a></a>
      <button onclick="document.getElementById('editprofile').style.display='block'"
        class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i
          class="material-icons" style="font-size:36px;color: antiquewhite">settings</i></button>
      <button onclick="document.getElementById('message').style.display='block'"
        class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i
          class="material-icons" style="font-size:36px;color: antiquewhite">email</i></button>

      <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button w3-padding-large" title="Notifications"><i class="material-icons"
            style="font-size:36px;color: antiquewhite">notifications</i>
          <span class="w3-badge w3-right w3-small w3-green">3</span></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
          <a href="#" class="w3-bar-item w3-button">Hunt favourited</a>
          <a href="#" class="w3-bar-item w3-button">Someone is on your hunt</a>
          <a href="#" class="w3-bar-item w3-button">New record</a>
        </div>
      </div>
      <button onclick="onLogoutClick()"
      class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Exit"><i
          class="material-icons" style="font-size:36px;color: antiquewhite">exit_to_app</i></button>
    </div>
  </div>

  <br>
  <br>

   <!-- Page Container -->
   <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
      <!-- Left Column -->
      <div class="w3-col m3">

        <!-- Profile -->
        <div class="w3-card w3-round w3-white">
          <div class="w3-container">
            <h4 class="w3-center"><%=user._name%></h4>
            <p class="w3-center"><img src="img\<%=user._imagename%> " class="w3-circle" style="height:106px;width:106px"
                alt="Avatar"></p>
            <hr>
            <p><i class="material-icons">my_location</i></i> Unknown</p>
            <p><i class="material-icons">date_range</i></i>
              <%var t = user._dateCreated.split(/[T]/);%>
              <%=t[0]%></p>
          </div>
        </div>

        <!--Search for components--> >
        <div class="w3-card w3-round w3-white w3-padding-32 w3-center">
          <p><a href="/trade" class="w3-button w3-green w3-round w3-xlarge">Start your search!</a>
        </div>
        <br>

        <!--Wishlist-->
        <div class="w3-card w3-round w3-white">
          <div class="w3-container w3-padding">
            <h6 class="w3-opacity">Wishlist</h6>
            <div class="w3-container">
              <ul class="w3-ul  w3-hoverable">
                <li onclick="document.getElementById('wishlist').style.display='block'">Listing 1 </li>
                <li onclick="document.getElementById('wishlist').style.display='block'">Listing 2 </li>
                <li onclick="document.getElementById('wishlist').style.display='block'">Listing 3 </li>
                <li onclick="document.getElementById('wishlist').style.display='block'">Listing 4 </li>
                <li onclick="document.getElementById('wishlist').style.display='block'">Listing 5 </li>
              </ul>
            </div>

            <div id="wishlist" class="w3-modal">
                <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
                  <div class="w3-center"><br>
                    <h6>[Listing details]</h6>
                    <p><button onclick="document.getElementById('#').style.display='block'" type="button"
                        class="w3-button w3-green w3-theme"><i class="material-icons">mode_edit</i> Search for component
                      </button></p>
                    <br>
                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                      <button onclick="document.getElementById('wishlist').style.display='none'" type="button"
                        class="w3-button w3-red">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>

            <p><button onclick="document.getElementById('addComp').style.display='block'" type="button"
                class="w3-button w3-light-grey w3-theme"><i class="material-icons">mode_edit</i> Add
                component</button></p>

                <div id="addComp" class="w3-modal">
                    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
                      <div class="w3-center"><br>
                        <span onclick="document.getElementById('addComp').style.display='none'"
                          class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                      </div>

                      <form class="w3-container" action="/home/add" method="post" enctype="multipart/form-data">
                        <div class="w3-section">
                          <label><b>Part make</b></label>
                          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter part make" name="partMake"
                            required>
                          <label><b>Part model</b></label>
                          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter part model" name="partModel"
                            required>
                          <label><b>Memory</b></label>
                          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter memory" name="memory"
                            required>
                          <label><b>Speed</b></label>
                          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter speed" name="speed" required>
                          <label><b>Capacity</b></label>
                          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter capacity" name="capacity"
                            required>
                          <label><b>Quantity</b></label>
                          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter quantity" name="quantity"
                            required>
                          <button type='submit' class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Add
                            component</button>
                      </form>
                      <button onclick="document.getElementById('addComp').style.display='none'" type="button"
                        class="w3-button w3-red">Cancel</button>
                    </div>
                  </div>

            <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Add to
              Wishlist</button>
          </div>
        </div>
      </div>


      <!-- End Left Column -->
    </div>

    <!-- Middle Column -->
    <div class="w3-col m7">

      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <h6 class="w3-opacity">Inventory</h6>
              <div class="w3-container">
                <ul id="inventory_list" class="w3-ul  w3-hoverable">
                  <% components.forEach(function(component){ %>
                  <li> <%=component._model %></li>
                  <% }); %>
                </ul>

                <p><button onclick="document.getElementById('addComp').style.display='block'" type="button"
                    class="w3-button w3-light-grey w3-theme"><i class="material-icons">mode_edit</i> Add
                    component</button></p>


              </div>


            </div>
          </div>
        </div>
      </div>


      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <h6 class="w3-opacity">Components for trade</h6>
        <ul  class="w3-ul w3-card-4">

          <li class="w3-display-container">  <span onclick="this.parentElement.style.display='none'"
            class="w3-button w3-transparent w3-display-right">&times;</span></li>

        </ul>
        <br>
      </div>
      <br>

      <!-- End Middle Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-col m2">



      <!-- End Right Column -->
    </div>

    <!-- End Grid -->
  </div>

  <!-- End Page Container -->
  </div>
  <br>

  <footer color: antiquewhite; class="center" style="color: antiquewhite">
    <h2>Find <a href="/about">us</a> on social media:</h2>
    <i class="fa fa-facebook-official w3-hover-opacity" style="font-size:36px;"></i>
    <i class="fa fa-instagram w3-hover-opacity" style="font-size:36px;"></i>
    <i class="fa fa-snapchat w3-hover-opacity" style="font-size:36px;"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity" style="font-size:36px;"></i>
    <i class="fa fa-twitter w3-hover-opacity" style="font-size:36px;"></i>
    <i class="fa fa-linkedin w3-hover-opacity" style="font-size:36px;"></i>
  </footer>

  <div id="editprofile" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

      <div class="w3-center"><br>
        <span onclick="document.getElementById('editprofile').style.display='none'"
          class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>

      </div>

      <form class="w3-container" action="/home/edit" method="post" enctype="multipart/form-data">
        <div class="w3-section">
          <label><b>Username: <%=user._name %> </b></label>

          <label><b>Email</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="<%= user._email%>" name="email" >
          <label><b>Profile picture</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="file" name="image" id="img" class="" >
          <label><b>Phone</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="tel" placeholder="<%= user._phone%>" name="phone">

          <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Add to
            Inventory</button>
        </div>
        </form>
        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
          <button onclick="document.getElementById('addComp').style.display='none'" type="button"
            class="w3-button w3-red">Cancel</button>
        </div>
      </div>
    </div>
  </div>



<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
https://firebase.google.com/docs/web/setup#available-libraries -->
<!-- Add Firebase products that you want to use -->
<script src="/__/firebase/7.14.6/firebase-auth.js"></script>
<script src="/__/firebase/7.14.6/firebase-firestore.js"></script>
<script src="/__/firebase/7.14.6/firebase-storage.js"></script>


<script>
// Your web app's Firebase configuration
var firebaseConfig = {
  apiKey: "AIzaSyA5QZxa0KrS3dPUPG0t_2DhIqJ2abNhMwc",
  authDomain: "ageless-lamp-278509.firebaseapp.com",
  databaseURL: "https://ageless-lamp-278509.firebaseio.com",
  projectId: "ageless-lamp-278509",
  storageBucket: "ageless-lamp-278509.appspot.com",
  messagingSenderId: "547568656781",
  appId: "1:547568656781:web:bccb74778f022bf8595dc4"
};
// Initialize Firebase
firebase.initializeApp(firebaseConfig);
</script>

<script>
function onLogoutClick(){
  firebase.auth().signOut().then(function() {
    // Sign-out successful.
    window.location.replace("login.html")
  }).catch(function(error) {
    // An error happened.
  });
}

</script>

</body>

</html>
